{% extends "base.html" %}
{% block content %}
	<h1>Most popular genres</h1>
	<form action="{{url_for('home')}}" method="POST">
        Number of genres to display: <input type="text" name="no_top_genres">
        <button type="submit">Submit</button>
    </form>
    <h2>Top {{no_top_genres}} genres are:</h2>
    <table>
		<thead>
			<th>Genre</th>
			<th>Number of games in genre</th>
			<th></th>
		</thead>
		{% for game in games %}
		<tbody>
			<td>{{game[0]}}</td>
			<td>{{game[1]}}</td>
		</tbody>
		{% endfor%}
	</table>
	<div id="pie-chart"></div>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script>
			var graph1 = {{ graph1JSON | safe}}
			Plotly.plot("pie-chart", graph1, {})
		</script>

	<div id="violin"></div>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script>
			var graph1 = {{ graph2JSON | safe}}
			Plotly.plot("violin", graph1, {})
		</script>
{% endblock %}