{% extends "base.html" %}
{% block content %}
    <h1>Top {{no_top_genres}} genres are:</h1>
    <table>
		<thead>
			<th>Genre</th>
			<th>Number of games in genre</th>
			<th></th>
		</thead>
		{% for game in games %}
		<tbody>
			<td>{{game[0]}}</td>
			<td>{{game[1]}}</td>
		</tbody>

		<div id="pie-chart"></div>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script>
			var graph1 = {{ graph1JSON | safe}}
			Plotly.plot("pie-chart", graph1, {})
		</script>
		{% endfor%}
	</table>
{% endblock %}